@media (max-width: 1200px)
    body
        margin: 0 auto
        .subheader__content_active
            display: grid
            grid-template-columns: repeat(2, 400px)
    
        .subheader-item
            width: 350px
            min-height: 480px
            &__img
                height: 230px
            &__name
                font-size: 25px
            &__descr
                font-size: 22px
        .subheader__title
                text-align: center
                font-size: 35px
        .subheader__subtitle
            text-align: center
            font-size: 30px
        .work__wrapper
            grid-template-columns: repeat(3, 250px)



        .about__wrapper
            grid-template-columns: repeat(auto-fill, 500px)
            
        

        .action
            &__wrapper
                grid-template-columns: repeat(auto-fill, 400px)
                justify-content: center
                column-gap: 30px
        
@media (max-width: 992px) 
    body
        .subheader
            margin: 0 auto
        .subheader__title
            text-align: center
            font-size: 30px
        .subheader__subtitle
            text-align: center
            font-size: 25px
        .subheader__tabs
            display: flex
            flex-direction: column

        .subheader__tab
            margin-top: 20px
            
        .subheader__content
            flex-direction: column
            justify-content: space-between
        .subheader__content_active
            display: grid
            grid-template-columns: repeat(2, 1fr)      
        .subheader-item
            width: 280px
            min-height: 480px
            &__img
                height: 230px
            &__name
                font-size: 25px
            &__descr
                font-size: 22px
        .order
            &__text
                font-size: 35px
        .cake
            &__wrapper
                display: grid
                grid-template-columns: 300px
                row-gap: 200px
                align-items: center
                justify-content: center
            &__item
                width: 200px
                height: 200px
                margin-right: 10px
                &-name
                    text-align: right
        .work
            &__wrapper
                display: flex
                flex-direction: column 
            &_title
                text-align: center  
        

        .about__wrapper
            grid-template-columns: repeat(auto-fill, 400px)
            row-gap: 15px
        .about__reviews
            column-gap: 20px


        .action
            &__wrapper
                grid-template-columns: repeat(auto-fill, 500px)
                justify-content: center
                row-gap: 30px

@media (max-width: 768px) 
    body
        nav
            height: 60px
            top: 25px
        .logo_title
            font-size: 30px
            margin-top: 15px
        .icons
            span
                margin-top: 10px
                margin-right: -20px
                font-size: 30px
        .subheader__title
            text-align: center
            font-size: 27px
        .subheader__subtitle
            text-align: center
            font-size: 20px
        .subheader__tabs
            display: flex
            flex-direction: column
        .subheader__tab
            width: 180px
            height: 40px
            font-size: 20px
            margin-top: 20px        
        .subheader__content
            flex-direction: column
            justify-content: space-between
        .subheader__content_active
            display: grid
            grid-template-columns: repeat(1, 1fr) 
            row-gap: 25px     
        .subheader-item
            width: 430px
            min-height: 480px
            margin: 0 auto
            &__img
                height: 230px
            &__name
                font-size: 25px
            &__descr
                font-size: 22px
            &__block
                width: 400px
                margin: 0 auto

        .offers__item-title
            font-size: 13px
            width: 200px
        .offers__item-subtitle
            font-size: 50px
        .offers__item-minisubtitle
            font-size: 20px
        .order
            &__text
                font-size: 25px
        .delivery__wrapper
            grid-template-columns: repeat(3, 220px)
        .cake
            &__wrapper
                display: flex
                flex-direction: column       
        .work
            &__wrapper
                display: flex
                flex-direction: column
                align-items: center 
            &_title
                text-align: center     
            

        .about__reviews
            column-gap: 20px
            flex-direction: column
            img
                width: 400px

        .pay
            h1
                font-size: 42px
            &__title
                font-size: 38px

            ul
                font-size: 30px

            li
                font-size: 24px






    